<footer class="bg-gray-900 text-gray-200 py-10">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 px-6">

        <!-- Localização -->
        <div>
            <h3 class="text-xl font-bold uppercase">Localização</h3>
            <hr class="my-2 border-gray-600" />
            <address class="not-italic leading-relaxed">
                Brasil, Estado da Paraíba, CEP: 58398-000<br>
                Telefone: <a href="tel:+5583996500112" class="text-blue-400 hover:underline">+55 83 99650-0112 (WhatsApp)</a><br>
                <strong>E-mail: </strong>
                <a href="mailto:rodrigols89.inbox@gmail.com" class="text-blue-400 hover:underline">
                    rodrigols89.inbox@gmail.com
                </a>
            </address>
        </div>

        <!-- Redes Sociais -->
        <div class="text-center md:text-left">
            <h3 class="text-xl font-bold uppercase">Redes Sociais</h3>
            <hr class="my-2 border-gray-600" />
            <ul class="flex justify-center md:justify-start space-x-4 mt-4">
                <!-- LinkedIn -->
                <li>
                    <a href="https://www.linkedin.com/in/rodrigols89" target="_blank" rel="noopener noreferrer"
                        class="p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 24 24" class="w-6 h-6 text-white">
                        <path d="M4.98 3.5C4.98 4.88 3.88 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1s2.48 1.12 2.48 2.5zM0 8.98h5V24H0V8.98zm8.5 0h4.78v2.05h.07c.67-1.27 2.32-2.6 4.77-2.6C22.42 8.43 24 11.07 24 15.4V24h-5v-7.53c0-1.8-.03-4.13-2.52-4.13-2.53 0-2.92 1.97-2.92 4v7.66h-5V8.98z"/>
                        </svg>
                    </a>
                </li>
                <!-- GitHub -->
                <li>
                    <a href="https://github.com/rodrigols89" target="_blank" rel="noopener noreferrer"
                        class="p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 24 24" class="w-6 h-6 text-white">
                        <path d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.39 7.86 10.91.58.11.79-.25.79-.56 0-.28-.01-1.02-.02-2-3.2.7-3.88-1.54-3.88-1.54-.53-1.36-1.3-1.72-1.3-1.72-1.06-.72.08-.71.08-.71 1.17.08 1.78 1.2 1.78 1.2 1.04 1.78 2.74 1.27 3.41.97.1-.75.41-1.27.74-1.56-2.55-.29-5.23-1.28-5.23-5.7 0-1.26.45-2.29 1.19-3.09-.12-.29-.52-1.45.11-3.02 0 0 .97-.31 3.18 1.18a11.1 11.1 0 012.9-.39c.98.01 1.96.13 2.9.39 2.2-1.49 3.18-1.18 3.18-1.18.63 1.57.23 2.73.11 3.02.74.8 1.19 1.83 1.19 3.09 0 4.44-2.68 5.41-5.23 5.7.42.36.8 1.08.8 2.17 0 1.57-.01 2.83-.01 3.22 0 .31.21.68.8.56A10.52 10.52 0 0023.5 12C23.5 5.73 18.27.5 12 .5z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>
