{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center
               font-sans font-bold
               text-gray-900
               text-[4em] [text-shadow:5px_5px_12px_#000]">
    rodrigols89 - UI Samples
    </h1>
    <p class="pt-8 text-3xl
              text-center
              text-gray-600
              [text-shadow:5px_5px_12px_#000]">
        Exemplos prontos de <strong>Interfaces de Usuário</strong> para você integrar e testar em seus projetos.
    </p>
{% endblock %}
